{
  "openapi": "3.0.2",
  "info": {
    "title": "Sheetful"
  },
  "paths": {
    "/{project}/{sheet}": {
      "post": {
        "summary": "Parse ingredients",
        "description": "Parses a list of raw ingredient strings into structured JSON.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ingredients": {
                    "title": "ingredients",
                    "type": "array",
                    "description": "List of ingredients to parse.\n- This list must contain between 1 and 100 elements.\n- Each string in the list must be 1,024 characters or fewer.\n- Unicode strings are supported.\n- The strings may be HTML- or URL-encoded.\n- Any HTML tags in the ingredient strings will be ignored.",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": ["ingredients"],
                "additionalProperties": false
              },
              "example": {
                "ingredients": [
                  "3 large Granny Smith apples",
                  "2 1/2 tablespoons finely chopped parsley",
                  "½ tsp brown sugar"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    }
  },
  "servers": [
    {
      "url": "https://sandbox.zestfuldata.com"
    }
  ]
}
